/* 
やること
文字の大きさを変えるok
フォントを変えるok、webフォントを使う
文字の太さを変えるok
行の高さok
文章をそろえるok
文字に色を付けるok
背景色を付けるok
背景画像の大きさを変える、背景の位置を変える、背景に画像→
余白を調整するok
枠線を付けるok
リストを装飾するok
クラスやIDの設定ok
flexつかうok
gridつかうok
リセットCSSok
*/
body{
    margin: 0px;
}
.wrapper{
    background-color: #FFF6E0 ;
    font-family: 'serif';
}
.wrapper a{
    color:#4A5880 ;
}

header{
    background-color: #CCBF9F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top li{
    font-size: 18px;
    list-style-type:square ;
}

#contents h2{
    font-family: '游 ゴシック体';
}
.table-contents ol{

    list-style-position: outside;
    list-style-type: square;
}

.container{
    display: grid;
    line-height: 1.9;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border-top: 1px solid #9FABCC;

}

.container span{
    font-weight: bold;
}

footer{
    background-image: url(../img/b035.png);
    background-repeat: repeat;
    background-color: #807457;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom p{
    font-size: large;
    font-weight: bold;
}
.bottom li{
    font-size: large;
    font-weight: bolder;
}